.navbar {
    position: fixed;
    top: 32px;
    left: 32px;
    background-color: var(--semiDarkBlue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 96px;
    padding: 28px 0 28px 0;
    width: 100%;
    height: calc(100vh - 13%);
    border-radius: 20px;
    z-index: 100;
}

.navbar__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__routes {
    margin: 75px 0 0 0;
    padding: 0;
    list-style: none;
}

.route {
    margin-top: 40px;
}

.route:first-child {
    margin-top: 0px;
}

.route-link:hover > .route-icon * {
    fill: var(--red);
    transition: .3s;
}

.route-link.active > .route-icon * {
    fill: var(--pureWhite);
}

.route-icon * {
    width: 20px;
    height: 20px;
    fill: var(--greyishBlue);
    transition: .3s;
}

.navbar__user-avatar {
    max-width: 40px;
    height: auto;
    border: 3px solid var(--pureWhite);
    border-radius: 50px;
}

@media screen and (max-width: 1024px ) {
    .navbar {
        left: 0;
    }
}

@media screen and (max-width: 820px) {
    .navbar {
        max-width: 88vw;
        position: relative;
        top: 23px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 21px 16px 21px 16px;
        flex-direction: row;
    }

    .navbar__wrapper {
        flex-direction: row;
        width: 100%;
    }

    .navbar__routes {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .route {
        margin-top: 0;
        margin-right: 32px;
    }
    
    .route:last-child {
        margin-right: 0px;
    }
}

@media screen and (max-width: 425px) {
   .navbar {
        top: 0;
        width: 100%;
   }
}