@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkBlue);
  color: var(--pureWhite);
}

.container {
  margin: 32px 0 0 0;
  padding: 0 2.5% 0 11.5%;
}

.row {
  display: flex;
}

.main {
  width: 100%;
}

/* body colors */

:root {
  --red: #fc4747;
  --pureWhite: #fff;
  --darkBlue: #10141e;
  --semiDarkBlue: #161d2f;
  --greyishBlue: #5a698f;
}

/* text styles  */

.heading {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.5px;
  margin: 0;
}

.heading-xs {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.68px;
  margin: 0;
}

.body-m {
  font-size: 15px;
  font-weight: 300;
}

.wrapper {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  column-gap: 40px;
}

.search-result {
  display: none;
  font-size: 32px;
  font-weight: 300;
  margin-top: 34px;
}

.search-result.show {
  display: block;
}

@media screen and (max-width: 1440px ) {
  .wrapper {
    grid-template-columns: repeat(4, minmax(280px, 1fr));
  }
}

@media screen and (max-width: 1024px ) {
  .wrapper {
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    column-gap: 20px;
  }
}

@media screen and (max-width: 820px ) {
  .wrapper {
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    column-gap: 29px;
  }
  .container {
    margin: 32px 0 0 0;
    padding: 0 25px 0 25px;
  }

}

@media screen and (max-width: 425px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    column-gap: 15px;
  }
  .container {
    margin: 32px 0 0 0;
    padding: 0 16px 0 16px;
  }

  .card__information {
    font-size: 11px;
  }

  .swiper-slide {

  }

  .single__title {
    font-size: 50px;
  }

}